a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
    color:#191919 !important;
    font-weight: normal!important;
}
.lgreen-f{
    color: #81a83b!important;
}
.dgreen-f{
    color: #337b3c !important;
}
.brown-f{
    color: #735e59 !important;
}
.banner {
    background-image: url('/assets/images/banner.svg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    max-height: 100vh;
}
.banner-content{
    padding-top: 20vh;
    
}
.left-side{
    display: flex;
    justify-content: center;
    margin-left: 10vw;
    margin-right: auto;
    width: 40vw;
    
}
.right-side{
    margin-right: 5vw;
}
.tag{
    font-size: 1vw!important;
    border: 1px solid #81a83b!important;
    max-width: fit-content !important;
    border-radius: 20px !important;
    padding: 1vh !important;
}
.title{
    font-size: 3.5vw!important;
    font-family: "Finger Paint"!important;
}

.brief-text{
    font-size: 1.5vw!important;
    padding-right: 1vw;
}
.bounce span {
    position: relative;
    display: inline-block;
    animation: bounce 1s infinite alternate;
}

/* Keyframes for the bounce effect */
@keyframes bounce {
    0% {
        top: 0;
    }
    100% {
        top: -1vh; /* Bounce up */
    }
}

/* Add progressive animation delays */
.bounce span:nth-child(1) {
    animation-delay: 0s; /* Start immediately */
}
.bounce span:nth-child(2) {
    animation-delay: 0.2s;
}
.bounce span:nth-child(3) {
    animation-delay: 0.4s;
}
.bounce span:nth-child(4) {
    animation-delay: 0.6s;
}
.bounce span:nth-child(5) {
    animation-delay: 0.8s;
}
.graph-1{
    height: auto;
    max-width: 40vw; 
}

/* get start button */
.button-53 {
    background-color: #81a83b;
    border: 0 solid #fbfcf8;
    box-sizing: border-box;
    color: #191919;
    display: flex;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #191919 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 200px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-53:focus {
    outline: 0;
  }
  
  .button-53:after {
    content: '';
    position: absolute;
    border: 1px solid #191919;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  
  .button-53:hover:after {
    bottom: 2px;
    left: 2px;
  }
  
  @media (min-width: 768px) {
    .button-53 {
      padding: .75rem 3rem;
      font-size: 1.25rem;
    }
  }

/* cards why */
.all-cards-mobile{
    display: none!important;
}
.deck{
    background-color: #fbfcf8!important;
    border-radius: 20px !important;
    top:100vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.content{
    padding:10px;
}
.sub{
    margin-top: -2vh;;
}
/* newsletter */
.newsletter {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.ani-left, .ani-right {
    flex: 0 0 20%; /* Take 20% of the width each for the images */
    max-width: 20%;
}
.news-sign {
    flex: 1; /* Remaining space for the center content */
    text-align: center;
}
.email-news-input{
    width: 40vw;
    max-width: 100%;
    padding: 10px;
    border: 2px solid #81a83b;
    border-radius: 5px;
}
.email-news-input::placeholder{
    color: #81a83b;
}
/* newsletter button */
.button-89 {
    --b: 3px;   /* border thickness */
    --s: .25em; /* size of the corner */
    --color: #81a83b;
    margin-left: 10px;

    padding: calc(.25em + var(--s)) calc(.5em + var(--s)); /* Adjusted padding for smaller button */
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 14px; /* Reduced font size */
    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.button-89:active {
    background: var(--color);
    color: #fff;
}

/* news */
.news-title{
    line-height: 0.75;
}
hr{
    border: 2px solid #735e59;
    width: 7vw;
    margin: -1px;
}
/* card */
article {
    --img-scale: 1.001;
    --title-color: #735e59;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fbfcf8;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #337b3c!important;
  }
  
  article a:focus {
    outline: 1px dotted #337b3c!important;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #337b3c;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      display: none;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
/* tablet */
@media (min-width:576px) and (max-width:768px) {
    .brief-text{
        font-size: 2vw!important;
    
    }
    .title{
        font-size: 4vw!important;
        font-family: "Finger Paint"!important;
    }
    .deck{
        margin-left: 5px!important;
        margin-right: 5px!important;
    }
    .all-cards-mobile{
        display: none!important;
    }
}
/* mobile */
@media (max-width:576px) {
    .brief-text{
        font-size: 3vw!important;
    
    }
    .title{
        font-size: 5vw!important;
        font-family: "Finger Paint"!important;
    }
    .tags{
        text-align: center!important;
        margin-left: auto!important;
        margin-right:auto!important; ;
    }
    .tag{
        margin-top: 5vh!important;
        font-size: 1.5vh!important;
    }
    .banner-content{
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;

    }
    .left-side{
        margin-right: auto;
        margin-left: auto;
        width: 80vw;
    }
    .brief-text{
        padding-right: auto!important;
    }
    .card-info{
        margin-top: 15vh!important;
    }
    .card-info{
        display: none!important;
    }
    .header-card{
        margin-left: 2vw!important;
    }
    .all-cards-mobile{
        display: block!important;
    }
    
    .carousel-mobile{
        
        display: flex;
        align-items: center;
    }
    .header-card{
        margin-top: 100px !important;;
    }
    .deck{
        max-width: 50vw!important;
    }
    .button-53{
        margin-right: auto;
        margin-left: auto;
    }
}