#banner {
    position: relative;
    text-align: center;
}

#img-banner {
    object-fit: cover;
    height: 100vh;
    width: 100vw;
}

#banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(115, 94, 89, 0.5); /* Green color with 50% opacity */
    z-index: 1; /* Ensure overlay is on top of the image */
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure text appears above the overlay */
}
.ini-navigation, footer{
    display: none;
}


/* form */
.cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .form_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f9fde6;
    height: auto;
    width: auto;
    border: 2px solid #264143;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px #81a83b;
  }
  
  .title {
    color: #735e59;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom:0px;
  }
  
  .sub_title {
    font-weight: 600;
    margin: 5px 0;
  }
  
  .form_group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
  }
  
  .form_style {
    outline: none;
    border: 2px solid #264143;
    box-shadow: 3px 4px 0px 1px #81a83b;
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
  }
  
  .form_style:focus, .btn:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #81a83b;
  }
  
  .btn {
    padding: 15px;
    margin: 25px 0px;
    width: 290px;
    font-size: 15px;
    background: #337b3c;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 3px 3px 0px 0px #81a83b;
    color: #fbfcf8;
  }
  
  .btn:hover {
    opacity: .9;
  }
  
  .link {
    font-weight: 800;
    color: #264143;
    padding: 5px;
  }

/* back button */
.back{
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}