body{
    background-color: #f9fde6 !important;
    font-family: 'roboto condensed' !important;
    color: #191919;
    margin:0;
    overflow-x: hidden  ;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'roboto'!important;
    font-weight: bold !important;
}
.lgreen{
    background-color: #81a83b !important;
}
/* scroll */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background:#f9fde6;
  box-shadow: inset 0 0 5px #f9fde6; 
}
::-webkit-scrollbar-thumb {
  background: #81a83b;
  border-radius: 10px;
  opacity: 0.5;  
}
::-webkit-scrollbar-thumb:hover {
  background: #81a83b; 
}
/* loader */
.loader {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9fde6;
}

.loader--hidden{
  opacity: 0;
  visibility: hidden;
}
/* From Uiverse.io by NlghtM4re */ 
.trees {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tree {
  position: relative;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(30deg);
  animation: treeAnimate 5s linear infinite;
}

@keyframes treeAnimate {
  0% {
    transform: rotateX(-20deg) rotateY(360deg);
  }

  100% {
    transform: rotateX(-20deg) rotateY(0deg);
  }
}

.tree div {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateY(calc(25px * var(--x))) translateZ(0px);
}

.tree div.branch span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #69c069, #77dd77);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  border-bottom: 5px solid #00000019;
  transform-origin: bottom;
  transform: rotateY(calc(90deg * var(--i))) rotateX(30deg) translateZ(28.5px);
}

.tree div.stem span {
  position: absolute;
  top: 110px;
 /* updated top value */
  left: calc(50% - 7.5px);
  width: 15px;
  height: 50%;
  background: linear-gradient(90deg, #bb4622, #df7214);
  border-bottom: 5px solid #00000019;
  transform-origin: bottom;
  transform: rotateY(calc(90deg * var(--i))) translateZ(7.5px);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  filter: blur(20px);
  transform-style: preserve-3d;
  transform: rotateX(90deg) translateZ(-65px);
}

/* navbar */
.ini-navigation{
    background-color: #fbfcf8!important;
    border-radius: 20px !important;
    width: 50%;
    left: 50%;        
    transform: translate(-50%);
    margin-top: 2vh;
    box-shadow:  0 4px 6px -2px #81a83b;
    z-index: 100 !important;
    position: fixed !important;
}
.logo-space{
    margin-right: -76% !important;;
}
/* contact us */
.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.facebook {
  margin-top: 1.5em;
  margin-left: -.9em;
  fill: #03A9F4;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.whatsapp {
  margin-top: -.6em;
  margin-left: 1.2em;
  fill: #00ff00;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.gmail {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #f14336;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #1877f2;
}

.card2:hover .facebook {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #00ff00;
}

.card3:hover .whatsapp {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #FF0004;
}

.card4:hover .gmail {
  fill: white;
}
.pop-up {
  display: none;
  overflow: hidden;
  position: fixed; /* Change to fixed for full-screen centering */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust to center from element’s middle */
  text-align: center;
  border-radius: 0.5rem;
  max-width: 290px;
  padding: 30px; /* Optional padding for better aesthetics */
  z-index:101
}

.dismiss {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: black;
  border: 2px solid #D1D5DB;
  font-size: 1rem;
  font-weight: 300;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  transition: .3s ease;
}

.dismiss:hover {
  background-color: #ee0d0d;
  border: 2px solid #ee0d0d;
  color: #fff;
}
.join.lgreen {
  background-color: #81a83b; /* Initial color */
  color: #fbfcf8; /* Text color */
  border: none; /* Remove border if necessary */
}
.join.lgreen:hover{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: #fbfcf8;
  background-color: #337b3c!important;
}
.header {
  padding: 1.25rem 1rem 1rem 1rem;
}

.image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2feee;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  animation: animate .6s linear alternate-reverse infinite;
  transition: .6s ease;
}

.image svg {
  color: #0afa2a;
  width: 2rem;
  height: 2rem;
}

.content {
  margin-top: 0.75rem;
  text-align: center;
}


@keyframes animate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.09);
  }
}

/* content */
#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 10vh;    /* Footer height */
  }
/* footer */
  #footer {
    position: absolute;
    /* bottom: 0; */
    width: 100%;
  }
  .footer-container{
    color:#fbfcf8;
    text-align: center;
    background-color: #735e59;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
/* tablet */
@media (min-width:576px) and (max-width:768px) {
    .ini-navigation{
        width: 95%;
    }
}
/* mobile */
@media (max-width:576px) {
    .ini-navigation{
        width: 95%;
    }
    .logo-space{
      margin-right: -100% !important;;
  }
}

/* navbar toggler custom */
.navbar-toggler{
    width:25px !important;
    height:25px!important;
    position: relative!important;
    transition: .5s ease-in-out!important;
}
.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}
.navbar-toggler span{
  margin:0 !important;
  padding:0 !important;
}
.toggler-icon{
  display: block !important;
  position: absolute !important;
  height: 3px !important;
  width: 100% !important;
  background: #337b3c !important;
  border-radius: 1px;
  opacity: 1 !important;
  left:0;
  transform:rotate(0deg);
  transition: .25s ease-in-out;
}
.middle-bar{
  margin-top: 0px!important;
}
/* when clicked */
.navbar-toggler .top-bar{
  margin-top: 0px!important;
  transform:rotate(135deg)!important;
}
.navbar-toggler .middle-bar{
  opacity: 0!important;
  filter: alpha(opacity=0)!important;
}
.navbar-toggler .bottom-bar{
  margin-top: 0px!important;
  transform:rotate(-135deg)!important;
}
/* collapsed navbar */
.navbar-toggler.collapsed .top-bar{
  margin-top: -20px!important;
  transform:rotate(0deg)!important;
}
.navbar-toggler.collapsed .middle-bar{
  opacity: 1!important;
  filter: alpha(opacity=100)!important;
}
.navbar-toggler.collapsed .bottom-bar{
  margin-top: 20px!important;
  transform:rotate(0deg)!important;
}